@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<PrimoComponente/>
<PrimoComponente /><PrimoComponente />
<PrimoComponente /><PrimoComponente />
<PrimoComponente /><PrimoComponente />